html, body {
    height: 100%;
}

.select-icons {
    font-family: 'FontAwesome', 'sans-serif', 'Arial' !important;
}

.h-100 { 
    min-height: 100%;
    height: 100%;
}


a{
    text-decoration: none !important;
}

.border-radius-0{
    border-radius: 0px !important;
}

.bgWhite{
    background-color: #fff !important;
}

.bgPrimary{
    background-color: #ace5f0 !important;
}

.bgPrimary2{
    background-color: #73c0cf !important;
}

.bgPrimary.bg-active{
    background-color: #64b1c1 !important;
    color: #fff !important;
}

.bgViolet{
    background-color: #303183 !important;
}

.bgWhite{
    background-color: #fff !important;
}

.txt-white{
    color: #fff;
}

.txt-black{
    color: black !important;
}

.text-left{
    text-align: left;
}

.margin-0-auto{
    margin: 0 auto;
}

.margin-top-15percent{
    margin-top: 15% !important;
}

.float-right{
    float: right;
}

.float-left{
    float: left;
}

.padding-0{
    padding: 0px !important;
}

.margin-0{
    margin: 0px !important;
}

.border-none{
    border: 0px !important;
}

.hide{
    display: none !important;
}

.modal-lg{
    width: 700px !important;
}

/* side menu */
.sidebar-dark .nav-item .nav-link, .sidebar-dark .nav-item .nav-link{
    padding: 9px !important;
}

.navToggle{
    cursor: pointer;    
    position: relative;
    top: 22px;
}

.sidebar-menu-container{
    position: absolute;
}

.collapse-item:hover{
    color: black !important;
}

.bg-side-menu{
    background-color: #212529;
}

.nav-side-profile{
    background-color: #212529;
    height: 70px;
    width: 70px;
    border-radius: 20%;
    margin: 0 auto;
    border: 2px solid #fff;
}
/* end side menu */

/* survey */
.survey-template-container > div:nth-child(2){
    min-height: 200px;
    max-height: 200px;    
}

.survey-template-container > div{
    margin-bottom: 70px;
    min-height: 150px;
    max-height: 150px;    
}

.survey-container-img{
    background-color: #bcbbbb !important;
}

.survey-container-img > img{
    /* display: none; */
    border-radius: 0.35rem;
}

.survey-template-container >div:nth-child(1n+1) > a > div > .survey-background-img{
    background: url('https://t3.ftcdn.net/jpg/03/99/60/32/240_F_399603265_BH1fPn9Cv8iocVGTa27FONzT4uIP9zBB.jpg?w=1480') no-repeat 95% 70%;
    min-height: 100%;
    background-size: cover;
}

.survey-template-container >div:nth-child(2n+2) > a > div > .survey-background-img{
    background: url('https://t3.ftcdn.net/jpg/03/39/27/88/240_F_339278803_TkGHfBtIeJPMvkLtBJJkbNa7hbLHzcrI.jpg?w=1380') no-repeat 95% 70%;
    min-height: 100%;
    background-size: cover;
}

.survey-template-container >div:nth-child(3n+3) > a > div > .survey-background-img{
    background: url('https://t3.ftcdn.net/jpg/04/93/55/02/240_F_493550205_qnipuTXGIDtGUo7eaX076cAdicSIETX0.jpg?w=1380') no-repeat 95% 70%;
    min-height: 100%;
    background-size: cover;
}

.survey-template-container >div:nth-child(4n+5) > a > div > .survey-background-img{
    background: url('https://as2.ftcdn.net/v2/jpg/04/84/14/29/1000_F_484142907_80h8KWlLiDMbW8WW5EKNXu15Vq1FGDQn.jpg?w=1380') no-repeat 95% 70%;
    min-height: 100%;
    background-size: cover;
}

.survey-template-container >div:nth-child(5n+6) > a > div > .survey-background-img{
    background: url('https://t4.ftcdn.net/jpg/05/04/11/93/240_F_504119310_3CjHBRpVWv4HnKnpyQXK6zVRk4cZlnAL.jpg?w=1380') no-repeat 95% 70%;
    min-height: 100%;
    background-size: cover;
}

/* .survey-template-container >div:nth-child(6n+4) > div > .survey-background-img{
    background: url('https://t3.ftcdn.net/jpg/04/93/55/02/240_F_493550205_qnipuTXGIDtGUo7eaX076cAdicSIETX0.jpg?w=1380') no-repeat 95% 50%;
    min-height: 100%;
    background-size: cover;
} */




.survey-tpl-title{
    font-size: 13px;
    padding: 0;
    margin: 0;
    font-weight: 700;
    margin-top: 10px;
    text-transform: capitalize;
}

.survey-tpl-question-title{
    color: gray;
    font-size: 11px;
}

.start-survey-container{
    /* line-height: 145px; */
    text-align: center;
}

.section-container{
    /* line-height: 145px; */
    text-align: center;
}

.part-container{
    /* line-height: 145px; */
    text-align: center;
}

.section_div{
    background: #212529;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    color: #fff;
    border-radius: 0.35rem;
    min-height: 100px;
    max-height: 100px; 
}

.part_div{
    background: #3f356f;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    color: #fff;
    border-radius: 0.35rem;
    min-height: 100px;
    max-height: 100px; 
}

.part_select{
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: 400;
    color: #595c6f;
}

.section_title{
    line-height: 110px;
}

.part_title{
    line-height: 110px;
}

.start_new_survey{
    background: #303183;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    color: #fff;
    border-radius: 0.35rem;
}

.start_new_survey > span {
    line-height: 106px;
}

.start_new_survey > span > i {
    position: relative;
    top: 36px;
}

.title-page{
    font-size: 20px !important;
    font-weight: 700 !important;
    color: #2a2448;
}

.title-page-modal{
    font-size: 18px !important;
    font-weight: 700 !important;
    color: #2a2448;
}

.title-new-survey{
    font-size: 23px !important;
    font-weight: 700 !important;
    color: #3f356f;
    font-family: system-ui;
}

.title-sub-question{
    margin-left: 17px;
    font-size: 17px !important;
    color: #212529 !important;
}

.survey-add-logo{
    padding: 26px;
    border: 1px dashed;
    font-size: 13px;
    position: relative;
    top: -20px;
    cursor: pointer;
}

.line-dashed{
    position: absolute;
    width: 100%;
    bottom: 30px;
    border: 1px dashed;
}

.modal-survey-name{
    font-size: 12px;
    font-weight: 700;
}

.choices-container,
.add-question-container{
    text-align: center;
    margin-top: 10%;
    max-width: 90%;    
    margin: 0 auto;
}

.choices-container > div > div{
    background-color: #fff;    
    border-right: 1px solid #dcdce3;
    border-bottom: 1px solid #dcdce3;
    padding: 16px;
}

.choices-container > div > div > a > i{
    background: #dcdce3;
    padding: 10px;
    border-radius: 8px;
    color: black;
}

.choices-container > div > div > a{
    position: relative;
    top: 17px;
}

.text-choice{
    font-size: 13px !important;
    font-weight: 700 !important;
    color: #3f356f;
    font-family: system-ui;
    margin-top: 16px;
    text-transform: capitalize;
}


.btn-choice-minus{
    color: #25224c;
    font-size: 30px;
    position: relative;
    top: 23px;
    z-index: 1;
    left: -12px;
}

/* end survey */

/* Add Question */
.btn-add-answer,
.btn-add-sub-question{
    color: #2e6ddf !important;
    font-weight: 700 !important;
    font-family: system-ui;
    font-size: 13px !important;
    border: 1px solid #2e6ddf !important;
}

.add-question-dropdown{
    background-color: #fff !important;
    border: 1px solid gray !important;
}


.survey-created{
    max-width: 90%;
    margin: 0 auto;    
}

.survey-created-options{
    padding: 10px;
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 4px;
    font-weight: 600;
}

.remove-answer{
    position: relative;
    top: 7px;
    cursor: pointer;
}
/* end Add Question */

/* preview */

/* .preview-select{
    height: 200px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    appearance: none;
} */

.bloc {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    /* border: solid grey 1px; */
    width: 100%;
  }
  
.bloc select {
    /* padding: 38px; */
    margin: 0px 0px -57px 18px;
    width: 100%;
    border: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    outline: 0px;
    background: #f8f9fc;
    /* background-color: red; */
}

.select_class_preview:focus{
    border: none;
}


.preview-title-container{
    position: relative;
    left: 10px;
}

.survey-created-container{
    margin-top: 35px;
    padding: 0px;
}

.preview-edit-container{
    position: absolute !important;
    right: 17px;
}

.preview-notice-title{
    font-size: 30px !important;
    font-weight: 600 !important;
    color: #3a4e5d;
    font-family: system-ui;
}

.preview-notice-desc{
    font-size: 19px !important;
    color: #3a4e5d;
    font-family: system-ui;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 22px;
}

.preview-notice-btn{
    font-size: 20px;
    font-weight: 700;
    background: #2990cb;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 6px;
}

.preview-new-survey-title{
    color: black;
    font-size: 30px !important;
    font-weight: 600 !important;
    font-family: system-ui;
}

.preview-new-survey-desc{
    font-size: 17px !important;
    font-weight: 600 !important;
    color: black;
    margin-top:15px;
}

.preview-new-survey-start{
    font-size: 20px;
    font-weight: 700;
    background: #64b1c1;
    color: #fff;
    border: none;
    padding: 14px 10px 14px 10px;
    border-radius: 6px;
    margin-top: 15px;
}

.social-media-icons{
    font-size: 35px;
    border: 2.5px solid black;
    border-radius: 50%;
    height: 60px !important;
    width: 60px !important;
    line-height: 54px !important;
    margin: 6px;
}


.preview-survey-created{
    padding: 10px 50px !important;
    font-size: 22px !important;
    color: #5340ff !important;
    font-weight: bolder !important;
}

.preview-btn{
    background: #fff;    
    margin: 0;
    right: 0;
    position: absolute;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 6px;
    top: 0;
}

.theme-btn{
    background: #fff;    
    margin: 0;
    right: 60px ;
    position: absolute;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 6px;
    top: 0;
}

.preview-active-check-container{
    position: absolute;
    width: 100%;
    right: 25px;
    top: 10px;
}

.preview-active-check{
    position: absolute;
    right: 0;
    color: #eee;
}

/* section titles div containers */
.section_title_container{
    background-color: #d7f1f7;
    border: 2px solid #278ba0;
    border-radius: 10px;
    color: black;
    margin-top: 30px;
    text-align: center;
    padding: 0px;
}

.section_title_h1{
    font-size: 25px;
    font-family: cursive;
    font-weight: bold;
    text-transform: capitalize;
}

.section_description{
    background: #fff;
    font-size: 25px;
    font-family: cursive;
}

/* section tables */
#customers {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: none;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid black;
    padding: 8px;
    color: black
  }
  
  /* #customers tr:nth-child(even){background-color: #f2f2f2;} */
  
  /* #customers tr:hover {background-color: #ddd;} */
  
  #customers th {
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: left;
    background-color: #00b0f0;
    color: black;
  }

  .hr_custom_table{
    border-top: 1px solid black;
    opacity: 1;
    background: red;
    padding: 0px !important;
    width: 100;
    position: relative;
    margin: 0px;
  }

  .vertical {
    border-left: 1px solid black;
    height: 100vh;
    position: relative;
    max-height: 130px;
    left: 0;
    background: red;
}

.small_box{
    border: 1px solid black;
    height: 20px;
    width: 30px;
    position: absolute;
    margin-top: -32px;
    margin-left: 66px;
}

.small_box_center{
    border: 1px solid black;
    height: 20px;
    width: 30px;
    position: absolute;
    margin-top: -21px;
    margin-left: 152px;
}

.custom_female_div{
    position: absolute;
    margin-top: -48px;
    margin-left: 170px;
}

.display_format{
    width: 40%;
    float: right;
    right: 30%;
    position: relative;
    padding: 0px;
    margin: 0px;
}

  .min-100 {
    min-width: 100px;
  }

  .min-200 {
    min-width: 200px;
  }

  .min-300{
    min-width: 300px;
  }

  .min-400{
    min-width: 400px;
  }

  .min-500{
    min-width: 500px;
  }

  .min-600{
    min-width: 600px;
  }

  .min-700{
    min-width: 700px;
  }

  .max-100{
    max-width: 100px;
  }

  .max-200{
    max-width: 200px;
  }

  .max-300{
    max-width: 300px;
  }

  .max-400{
    max-width: 400px;
  }

  .max-500{
    max-width: 500px;
  }

  .max-600{
    max-width: 600px;
  }

  .max-700{
    max-width: 700px;
  }

  .wd-100{
    width: 100px;
  }

  .wd-200{
    width: 200px;
  }

  .wd-300{
    width: 300px;
  }

  .wd-400{
    width: 400px;
  }

  .wd-500{
    width: 500px;
  }

  .wd-600{
    width: 600px;
  }

  .wd-700{
    width: 700px;
  }

  /* height */

  .h-50px{
    height: 50px;
  }

  .h-100px{
    height: 100px;
  }


  /* profile */
  .profile-img-background{
    width: 100%;
    height: 100%;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .profile-img-container{
    background: #212529;
    height: 100px;
    width: 100px;
    margin: 0 auto;
    border-radius: 50%;
  }

  .profile-update{
    padding: 10px 30px;
    /* border: 1px dashed; */
    font-size: 13px;
    position: relative;
    /* top: -20px; */
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    bottom: -113px;
  }

  .delete-container,
  .copy-container{
    cursor: pointer;
  }

  .copy-container{
    margin-right: 15px;
  }

  .form-check-input-question{
    position: relative !important;
    left: 12px;
  }
  
  .editable-title{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
   }

   .btn-option{
    padding: 5px;
   }

   .dropdown_li{
    list-style-type: none;
   }

   .dropdown-type{
    padding-left: 0px;
   }