a{
    text-decoration: none !important;
}

.border-radius-0{
    border-radius: 0px !important;
}

.bgViolet{
    background-color: #303183 !important;
}

.bgWhite{
    background-color: #fff !important;
}

.txt-white{
    color: #fff;
}

.txt-black{
    color: black !important;
}

.text-left{
    text-align: left;
}

.margin-0-auto{
    margin: 0 auto;
}

.float-right{
    float: right;
}

.float-left{
    float: left;
}

.padding-0{
    padding: 0px !important;
}

.border-none{
    border: 0px;
}

.hide{
    display: none;
}

.modal-lg{
    width: 700px !important;
}


/* side menu */
.sidebar-dark .nav-item .nav-link, .sidebar-dark .nav-item .nav-link{
    padding: 9px !important;
}

.bg-side-menu{
    background-color: #212529;
}

.nav-side-profile{
    background-color: red;
    height: 70px;
    width: 70px;
    border-radius: 20%;
    margin: 0 auto;
}
/* end side menu */

/* survey */
.survey-template-container > div:nth-child(2){
    min-height: 200px;
    max-height: 200px;    
}

.survey-template-container > div{
    margin-bottom: 70px;
    min-height: 150px;
    max-height: 150px;    
}

.survey-container-img{
    background-color: #bcbbbb !important;
}

.survey-container-img > img{
    display: none;
}

.survey-tpl-title{
    font-size: 13px;
    padding: 0;
    margin: 0;
    font-weight: 700;
    margin-top: 10px;
}

.survey-tpl-question-title{
    color: gray;
    font-size: 11px;
}

.start-survey-container{
    /* line-height: 145px; */
    text-align: center;
}

.start_new_survey{
    background: #303183;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    color: #fff;
    border-radius: 0.35rem;
}

.start_new_survey > span {
    line-height: 106px;
}

.start_new_survey > span > i {
    position: relative;
    top: 36px;
}

.title-page{
    font-size: 20px !important;
    font-weight: 700 !important;
    color: #2a2448;
}

.title-page-modal{
    font-size: 18px !important;
    font-weight: 700 !important;
    color: #2a2448;
}

.title-new-survey{
    font-size: 23px !important;
    font-weight: 700 !important;
    color: #3f356f;
    font-family: system-ui;
}

.survey-add-logo{
    padding: 26px;
    border: 1px dashed;
    font-size: 13px;
}

.line-dashed{
    position: absolute;
    width: 100%;
    bottom: 30px;
    border: 1px dashed;
}

.modal-survey-name{
    font-size: 12px;
    font-weight: 700;
}

.choices-container,
.add-question-container{
    text-align: center;
    margin-top: 10%;
    max-width: 90%;
}

.choices-container > div > div{
    background-color: #fff;    
    border-right: 1px solid #dcdce3;
    border-bottom: 1px solid #dcdce3;
    padding: 16px;
}

.choices-container > div > div > a > i{
    background: #dcdce3;
    padding: 10px;
    border-radius: 8px;
    color: black;
}

.choices-container > div > div > a{
    position: relative;
    top: 17px;
}

.text-choice{
    font-size: 13px !important;
    font-weight: 700 !important;
    color: #3f356f;
    font-family: system-ui;
    margin-top: 16px;
}


.btn-choice-minus{
    color: #25224c;
    font-size: 30px;
    position: relative;
    top: 23px;
    z-index: 1;
    left: -12px;
}

/* end survey */

/* Add Question */
.btn-add-answer{
    color: #2e6ddf !important;
    font-weight: 700 !important;
    font-family: system-ui;
    font-size: 13px !important;
    border: 1px solid #2e6ddf !important;
}

.add-question-dropdown{
    background-color: #fff !important;
    border: 1px solid gray !important;
}


.survey-created{
    max-width: 90%;
}

.survey-created-options{
    padding: 10px;
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 4px;
    font-weight: 600;
}
/* end Add Question */